body {
  background-color: rgb(20, 22, 37);
}

header {
  background-color: #0018A8;
  color: white;
  border-bottom: 2px solid white;
  padding: 1em;
}

header > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.trade-container {
  text-align: center;
  margin: auto;
}

.trade-table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.form-control {
  background-color: rgb(68, 85, 105);
  border-color: #282c34;
  color: white
}

.btn {
  background-color: rgb(20, 22, 37);
  color:white;
  border-color: rgb(68, 85, 105);
}

#logo-image {
  width: 100px;
}

.card {
  color: white;
  margin: 1em;
  background-color: rgb(46, 57, 71);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  padding: 20px;
}
